*{padding: 0; margin: 0; box-sizing: border-box;}
html, body{width:100%; height: 100%;}
/*헤더 영역*/
header{
    position: fixed;
    width: 100%;  height: 8%;
    background: rgba(0, 0, 0, 30%);
    font-family: 'Nanum Gothic', sans-serif;
}
.menu-wrap{
    display: flex;
    height: 100%;
    padding: 0 10vw;
    align-items: center;
    font-size: 18px;
}
.menu-text > a {
    color: white;
    font-style: none;
    text-decoration: none;
    margin-left: 45px;
}