*{padding: 0; margin: 0; box-sizing: border-box;}
html, body{width:100%; height: 100%;}
/*헤더 영역*/
header{
    position: fixed;
    width: 100%;  height: 8%;
    background: rgba(0, 0, 0, 30%);
    font-family: 'Nanum Gothic', sans-serif;
}
.menu-wrap{
    display: flex;
    height: 100%;
    padding: 0 10vw;
    align-items: center;
    font-size: 18px;
}
.menu-text > a {
    color: white;
    font-style: none;
    text-decoration: none;
    margin-left: 45px;
}
/*섹션시작*/
section{font-family: "ChosunSm";}
.section_back{
    width: 100%;  height: 937px;
    min-width: 1100px;
    padding: 8vw 12vw;
}
h2{
    font-size: 60px;
    font-weight: normal;
    margin-bottom: 30px;
}
p{font-size: 30px;}
#winter-BG > p, #summer-BG > p{line-height: 130%;}
#winter-BG{background-image: url('../img/donateBG1.png');}
#summer-BG{background-image: url('../img/donateBG2.png');}
#donate-part{
    padding: 8vw 15vw 8vw 16vw;
}
#donate-part p:nth-child(2n){
    display: inline-block;
    margin: 5% 0 5% 48%;
}
.btn{
    display: block;
    font-size: 20px;
    width: 200px;  height: 70px;
    color: white;
    background-color: rgb(184, 184, 184);
    border: none;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    margin: 100px auto;
}
/***-------- 모달창 ---------***/
#s2 {
    border: 20px slategrey double;
    width: 540px; height: 760px;
    background-color: beige;
    margin: 0 auto;
    /** 가운데로 오게 하기 위해서 **/
    position:fixed;
    top:50%; 
    left:50%;
    transform: translate(-50%,-50%);
  }
  #donate_mo {
      text-align: center;
      color: slategray;
      margin-top: 120px;
  }
  #donate_modal {
    width: 460px; height: 140px;
    margin-left: 24px;
    margin-top: 32px;
  }
  #form2 {
    width: 360px; height: 400px;
    background-color: beige;
    margin: 0 auto;
    padding: 0 35px;
    padding-top: 140px;
  }
  #number {
    width: 280px; height: 48px;
    margin-bottom: 110px;
    font-weight: bold;
    text-align: center;
    font-size: 54px;
    border: none;
    background-color: beige;
    outline-style: none;
    color: slategrey;
  }
  #btn2 {
    font-family: "ChosunSm";
    width: 280px; height: 48px;
    border-radius: 12px;
    background-color: slategrey;
    color: antiquewhite;
    border: none;
    font-size: 25px;
    font-weight: bold;
    outline-style: none;
    letter-spacing: 4px;
    padding-left: 4px;
  }
  #btn2:hover {
    cursor: pointer;
  }
