*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    width: 1000px;
    height: 100%;
    display: block;
}
form{
    width: 720px;
    position: absolute;
    top: 30%;
    left: 33%;
    text-align: center;
    background-color: #999999;
    padding: 40px;
    width: 400px;
    border-radius: 35px;
}
.logo_wrap > img{
    width: 250px;
    height: auto;
}
.boot{
    margin-top: 10%;
}
#submit{
    width: 300px;
}
.join{
    margin-left: 20px;
    color: rgb(33, 33, 33);
}
.find{
    margin-left: 20px;
    color: rgb(33, 33, 33);
}