html, body{
    font-family: 'Nanum Gothic', sans-serif;
    overflow-x: hidden;
} /*x축으로 넘어가는 현상fix*/
*{margin: 0;  padding: 0;}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
 
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    *{
        margin: 0;
        padding: 0;
    }
    .menu_container{
        font-family: 'Nanum Gothic', sans-serif;
        margin-top: 2%;
    }
    .menu_container > .menu_wrap > img{
        width: auto;
        height: 2.8vh;
        margin-left: 8%;
        margin-bottom: 1.5%;
    }
    .menu_wrap{
        display: flex;
        font-size: 14px;
    }
    .menu_text{
        margin-top: 0.5%;
        margin-left: 8.2%;
    }
    .menu_text > a {
        color: black;
        font-style: none;
        text-decoration: none;
        margin-left: 45px;
    }
    .button_wrap > button{
        position: relative;
        border: 1px solid black;
        border-radius: 20px;
        margin-left: 12px;
        font-size: 12px;
        background: none;
        left: 60%;
        top: 10%;
    }
    .section_blue_wrap{
        width: 100%;
        height: 700px;
        background-color: #7f99e2;
    }
    .ment_wrap{
        position: absolute;
        color: #ffff;
        margin-left: 10%;
        margin-top: 8%;
    }
    .main_ment{
        font-weight: 500;
        font-size: 32px;
        line-height: 60px;
    }
    .sub_ment{
        position: absolute;
        margin-top: 30px;
        font-size: 14px;
    }
    .available_os{
        position: absolute;
        margin-top: 15.8%;
        margin-left: 7%;
    }
    .notebook_wrap > img {
        position: absolute;
        left: 45%;
        top: 15%;
    }
    .section2_white{
        width: 100%;
        height: 850px;
    }
    .energy_graph{
        width: 750px;
        height: 750px;
        margin-top: 3%;
        margin-left: -10%;
    }
    .main_ment_2{
        position: absolute;
        font-weight: 500;
        right: 6%;
        bottom: -2%;
        line-height: 60px;
    }
    .boldment_small{
        font-size: 14px;
    }
    .boldment_big{
        font-size: 32px;
    }
    .sub_ment_wrap{
        position: absolute;
        font-size: 14px;
        right: 15%;
        bottom: -10%;
    }
    .section3_white{
        background-color: #f2f4f9;
        width: 100%;
        height: 830px;
    }
    .ment_wrap_sec3{
        position: relative;
        left: 19%;
        top: 32%;
    }
    .main_ment_wrap > span{
        font-size: 34px;
        font-weight: bold;
    }
    .sub_ment_wrap2 > span{
        position: absolute;
        margin-top: 2.5%;
        font-size: 14px;
    }
    .bar_wrap{
        position: relative;
        left: 57%;
        bottom: 14%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1068px) {
    .menu_container{
        font-family: 'Nanum Gothic', sans-serif;
        margin-top: 2%;
    }
    .menu_container > .menu_wrap > img{
        width: auto;
        height: 3.8vh;
        margin-left: 8%;
        margin-bottom: 1.5%;
    }
    .menu_wrap{
        display: flex;
        font-size: 18px;
    }
    .menu_text{
        margin-top: 0.5%;
        margin-left: 8.2%;
    }
    .menu_text > a {
        color: black;
        font-style: none;
        text-decoration: none;
        margin-left: 45px;
    }
    .button_wrap > button{
        position: relative;
        border: 1px solid black;
        border-radius: 20px;
        margin-left: 15px;
        font-size: 14px;
        background: none;
        left: 100%;
        top: 10%;
    }
    /* login_form_container */
    .layer-popup {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 100;
    }
    .layer-popup.show {
        display: block;
    }
    .label{
        color: black;
        font-size: 13.5px;
    }
    .modal-dialog {
        width: 350px;
        margin: 50px auto;
        background-color: #fff;
    }
    .modal-content {
        padding: 10px 30px;
        text-align: center;
        line-height: 60px;
    }
    .logo_wrap > img{
        width: 158px;
        height: 40px;
    }
    .join, .find{
        color: black;
        margin-left: 10px;
    }
    #submit{
        width: 180px;
    }
    /* section blue start */
    .section_blue_wrap{
        width: 100%;
        height: 700px;
        background-color: #7f99e2;
    }
    .ment_wrap{
        position: absolute;
        color: #ffff;
        margin-left: 10%;
        margin-top: 8%;
    }
    .main_ment{
        font-weight: 500;
        font-size: 36px;
        line-height: 60px;
    }
    .sub_ment{
        position: absolute;
        margin-top: 30px;
        font-size: 18px;
    }
    .available_os{
        position: absolute;
        margin-top: 15.8%;
        margin-left: 7%;
    }
    .notebook_wrap > img {
        position: absolute;
        left: 45%;
        top: 15%;
    }
    .section2_white{
        width: 100%;
        height: 850px;
    }
    .energy_graph{
        width: 750px;
        height: 750px;
        margin-left: 1%;
        margin-top: 3%;
    }
    .main_ment_2{
        position: absolute;
        font-weight: 500;
        right: 15%;
        bottom: -2%;
        line-height: 60px;
    }
    .boldment_small{
        font-size: 18px;
    }
    .boldment_big{
        font-size: 36px;
    }
    .sub_ment_wrap{
        position: absolute;
        font-size: 18px;
        right: 20%;
        bottom: -12%;
    }
    .section3_white{
        background-color: #f2f4f9;
        width: 100%;
        height: 830px;
    }
    .ment_wrap_sec3{
        position: relative;
        left: 19%;
        top: 32%;
    }
    .main_ment_wrap > span{
        font-size: 38px;
        font-weight: bold;
    }
    .sub_ment_wrap2 > span{
        position: absolute;
        margin-top: 2.5%;
        font-size: 18px;
    }
    .bar_wrap{
        position: relative;
        left: 57%;
        bottom: 14%;
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1400px) {
    /* 헤더역영 */
    .menu_container{
        font-family: 'Nanum Gothic', sans-serif;
        margin-top: 2%;
    }
    .menu_container > .menu_wrap > img{
        width: auto;
        height: 3.8vh;
        margin-left: 20%;
        margin-bottom: 1.5%;
    }
    .menu_wrap{
        display: flex;
        font-size: 18px;
    }
    .menu_text{
        margin-top: 0.5%;
        margin-left: 8.2%;
    }
    .menu_text > a {
        color: black;
        font-style: none;
        text-decoration: none;
        margin-left: 45px;
    }
    .button_wrap > button{
        position: relative;
        border: 1px solid black;
        border-radius: 20px;
        margin-left: 15px;
        font-size: 14px;
        background: none;
        left: 100%;
        top: 10%;
    }
    /* login_form_container */
    .layer-popup {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 100;
    }
    .layer-popup.show {
        display: block;
    }
    .label{
        color: black;
        font-size: 13.5px;
    }
    .modal-dialog {
        width: 350px;
        margin: 50px auto;
        background-color: #fff;
    }
    .modal-content {
        padding: 10px 30px;
        text-align: center;
        line-height: 60px;
    }
    .logo_wrap > img{
        width: 10vw;
        height: 4vh;
    }
    .join, .find{
        color: black;
        margin-left: 10px;
    }
    #submit{
        width: 180px;
    }
    /* section blue start */
    .section_blue_wrap{
        width: 100%;
        height: 700px;
        background-color: #7f99e2;
    }
    .ment_wrap{
        position: absolute;
        color: #ffff;
        margin-left: 20%;
        margin-top: 8%;
    }
    .main_ment{
        font-weight: bolder;
        font-size: 36px;
        line-height: 60px;
    }
    .sub_ment{
        position: absolute;
        margin-top: 30px;
        font-size: 18px;
    }
    .available_os{
        position: absolute;
        margin-top: 13.8%;
        margin-left: 18%;
    }
    .notebook_wrap > img {
        position: absolute;
        left: 45%;
        top: 18%;
    }
    /* 섹션2 */
    .graph_wrap{
        position: relative;
        left: 15%;
    }
    .main_ment_2{
        right: 25%;
    }
    .sub_ment_wrap{
        right: 28%;
    }
    /* 섹션3 */
    .section3_white{
        background-color: #f2f4f9;
        width: 100%;
        height: 830px;
    }
    .ment_wrap_sec3{
        position: relative;
        left: 23%;
        top: 32%;
    }
    .main_ment_wrap > span{
        font-size: 38px;
        font-weight: bolder;
    }
    .sub_ment_wrap2 > span{
        position: absolute;
        margin-top: 2.5%;
        font-size: 18px;
    }
    .bar_wrap{
        position: relative;
        left: 57%;
        bottom: 14%;
    }
    /* section 4 start */
    .section4_dark{
        position: relative;
        width: 100%;
        height: 880px;
        background-color: #566798;
    }
    .ment_wrap_sec4{
        position: absolute;
        margin-top: 7%;
        margin-left: 12%;
    }
    .main_ment_wrap4 > span{
        font-size: 45px;
        font-weight: 500;
        color: #ffff;
    }
    .sub_meterial_wrap{
        margin-top: 5%;
        display: flex;
    }
    .sub_ment_headline > span {
        font-size: 25px;
        font-weight: 600;
        color: #ffff;
    }
    .sub_ment_small > span{
        color: #cccccc;
        font-size: 20px;
    }
    .sub_ment_small, .sub_ment_headline{
        margin-top: 8%;
    }
    .sub_met{
        position: relative;
        width: 550px;
    }
    /* footer start  */
    .footer_1{
        position: relative;
        width: 100%;
        height: 770px;
        background-color: #404e73;
    }
}