/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body{
        font-family: 'Nanum Gothic', sans-serif;
    }
    .menu_container{
        font-family: 'Nanum Gothic', sans-serif;
        margin-top: 2%;
    }
    .menu_container > .menu_wrap > img{
        width: auto;
        height: 2.8vh;
        margin-left: 8%;
        margin-bottom: 1.5%;
    }
    .menu_wrap{
        display: flex;
        font-size: 14px;
    }
    .menu_text{
        margin-top: 0.5%;
        margin-left: 8.2%;
    }
    .menu_text > a {
        color: black;
        font-style: none;
        text-decoration: none;
        margin-left: 45px;
    }
    .button_wrap > button{
        position: relative;
        border: 1px solid black;
        border-radius: 20px;
        margin-left: 12px;
        font-size: 12px;
        background: none;
        left: 60%;
        top: 10%;
    }
    .section_blue_wrap{
        width: 100%;
        height: 700px;
        background-color: #7f99e2;
    }
    .ment_wrap{
        position: absolute;
        color: #ffff;
        margin-left: 10%;
        margin-top: 8%;
    }
    .main_ment{
        font-weight: 500;
        font-size: 32px;
        line-height: 60px;
    }
    .sub_ment{
        position: absolute;
        margin-top: 30px;
        font-size: 14px;
    }
    .available_os{
        position: absolute;
        margin-top: 15.8%;
        margin-left: 7%;
    }
    .notebook_wrap > img {
        position: absolute;
        left: 45%;
        top: 15%;
    }
    .section2_white{
        width: 100%;
        height: 850px;
        border-bottom: 2px solid black;
    }
    .energy_graph{
        width: 750px;
        height: 750px;
        margin-top: 3%;
        margin-left: -10%;
    }
    .main_ment_2{
        position: absolute;
        font-weight: 500;
        right: 6%;
        bottom: -2%;
        line-height: 60px;
    }
    .boldment_small{
        font-size: 14px;
    }
    .boldment_big{
        font-size: 32px;
    }
    .sub_ment_wrap{
        position: absolute;
        font-size: 14px;
        right: 15%;
        bottom: -10%;
    }
    .section3_white{
        background-color: #f2f4f9;
        width: 100%;
        height: 830px;
        border-bottom: 1px solid black;
    }
    .ment_wrap_sec3{
        position: relative;
        left: 19%;
        top: 32%;
    }
    .main_ment_wrap > span{
        font-size: 34px;
        font-weight: bold;
    }
    .sub_ment_wrap2 > span{
        position: absolute;
        margin-top: 2.5%;
        font-size: 14px;
    }
    .bar_wrap{
        position: relative;
        left: 57%;
        bottom: 14%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1068px) {
    body{
        font-family: 'Nanum Gothic', sans-serif;
    }
    .menu_container{
        font-family: 'Nanum Gothic', sans-serif;
        margin-top: 2%;
    }
    .menu_container > .menu_wrap > img{
        width: auto;
        height: 3.8vh;
        margin-left: 8%;
        margin-bottom: 1.5%;
    }
    .menu_wrap{
        display: flex;
        font-size: 18px;
    }
    .menu_text{
        margin-top: 0.5%;
        margin-left: 8.2%;
    }
    .menu_text > a {
        color: black;
        font-style: none;
        text-decoration: none;
        margin-left: 45px;
    }
    .button_wrap > button{
        position: relative;
        border: 1px solid black;
        border-radius: 20px;
        margin-left: 15px;
        font-size: 14px;
        background: none;
        left: 100%;
        top: 10%;
    }
    .section_blue_wrap{
        width: 100%;
        height: 700px;
        background-color: #7f99e2;
    }
    .ment_wrap{
        position: absolute;
        color: #ffff;
        margin-left: 10%;
        margin-top: 8%;
    }
    .main_ment{
        font-weight: 500;
        font-size: 36px;
        line-height: 60px;
    }
    .sub_ment{
        position: absolute;
        margin-top: 30px;
        font-size: 18px;
    }
    .available_os{
        position: absolute;
        margin-top: 15.8%;
        margin-left: 7%;
    }
    .notebook_wrap > img {
        position: absolute;
        left: 45%;
        top: 15%;
    }
    .section2_white{
        width: 100%;
        height: 850px;
        border-bottom: 2px solid black;
    }
    .energy_graph{
        width: 750px;
        height: 750px;
        margin-left: 1%;
        margin-top: 3%;
    }
    .main_ment_2{
        position: absolute;
        font-weight: 500;
        right: 15%;
        bottom: -2%;
        line-height: 60px;
    }
    .boldment_small{
        font-size: 18px;
    }
    .boldment_big{
        font-size: 36px;
    }
    .sub_ment_wrap{
        position: absolute;
        font-size: 18px;
        right: 20%;
        bottom: -12%;
    }
    .section3_white{
        background-color: #f2f4f9;
        width: 100%;
        height: 830px;
        border-bottom: 1px solid black;
    }
    .ment_wrap_sec3{
        position: relative;
        left: 19%;
        top: 32%;
    }
    .main_ment_wrap > span{
        font-size: 38px;
        font-weight: bold;
    }
    .sub_ment_wrap2 > span{
        position: absolute;
        margin-top: 2.5%;
        font-size: 18px;
    }
    .bar_wrap{
        position: relative;
        left: 57%;
        bottom: 14%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1400px) {
    body{
        font-family: 'Nanum Gothic', sans-serif;
        height: 6000px;
    }
    .menu_container{
        font-family: 'Nanum Gothic', sans-serif;
        margin-top: 2%;
    }
    .menu_container > .menu_wrap > img{
        width: auto;
        height: 3.8vh;
        margin-left: 20%;
        margin-bottom: 1.5%;
    }
    .menu_wrap{
        display: flex;
        font-size: 18px;
    }
    .menu_text{
        margin-top: 0.5%;
        margin-left: 8.2%;
    }
    .menu_text > a {
        color: black;
        font-style: none;
        text-decoration: none;
        margin-left: 45px;
    }
    .button_wrap > button{
        position: relative;
        border: 1px solid black;
        border-radius: 20px;
        margin-left: 15px;
        font-size: 14px;
        background: none;
        left: 100%;
        top: 10%;
    }
    .section_blue_wrap{
        width: 100%;
        height: 700px;
        background-color: #7f99e2;
    }
    .ment_wrap{
        position: absolute;
        color: #ffff;
        margin-left: 20%;
        margin-top: 8%;
    }
    .main_ment{
        font-weight: bolder;
        font-size: 36px;
        line-height: 60px;
    }
    .sub_ment{
        position: absolute;
        margin-top: 30px;
        font-size: 18px;
    }
    .available_os{
        position: absolute;
        margin-top: 13.8%;
        margin-left: 18%;
    }
    .notebook_wrap > img {
        position: absolute;
        left: 45%;
        top: 18%;
    }
    /* 섹션2 */
    .section2_white{
        width: 100%;
        height: 850px;
        border-bottom: 2px solid black;
    }
    .graph_wrap{
        margin-left: 15%;
        margin-top: 3%;
    }
    .energy_graph{
        width: 750px;
        height: 750px;
    }
    .ment_wrap_2{
        position: relative;
        right: 5%;
        bottom: 40%;
    }
    .main_ment_2{
        font-weight: bold;
        line-height: 60px;
    }
    .boldment_small{
        font-size: 18px;
    }
    .boldment_big{
        font-size: 36px;
    }
    /* 섹션3 */
    .section3_white{
        background-color: #f2f4f9;
        width: 100%;
        height: 830px;
        border-bottom: 1px solid black;
    }
    .ment_wrap_sec3{
        position: relative;
        left: 23%;
        top: 32%;
    }
    .main_ment_wrap > span{
        font-size: 38px;
        font-weight: bold;
    }
    .sub_ment_wrap2 > span{
        position: absolute;
        margin-top: 2.5%;
        font-size: 18px;
    }
    .bar_wrap{
        position: relative;
        left: 57%;
        bottom: 14%;
    }
}