/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1000px) {
    .menu_container{
        font-family: 'Nanum Gothic', sans-serif;
        margin-top: 2%;
    }
    .menu_container > .menu_wrap > img{
        width: auto;
        height: 3.8vh;
        margin-left: 8%;
        margin-bottom: 1.5%;
    }
    .menu_wrap{
        display: flex;
        font-size: 18px;
    }
    .menu_text{
        margin-top: 0.5%;
        margin-left: 8.2%;
    }
    .menu_text > a {
        color: black;
        font-style: none;
        text-decoration: none;
        margin-left: 45px;
    }
    .button_wrap > button{
        position: relative;
        border: 1px solid black;
        border-radius: 20px;
        margin-left: 15px;
        font-size: 14px;
        background: none;
        left: 100%;
        top: 10%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1400px) {
    .menu_container{
        font-family: 'Nanum Gothic', sans-serif;
        margin-top: 2%;
    }
    .menu_container > .menu_wrap > img{
        width: auto;
        height: 3.8vh;
        margin-left: 20%;
        margin-bottom: 1.5%;
    }
    .menu_wrap{
        display: flex;
        font-size: 18px;
    }
    .menu_text{
        margin-top: 0.5%;
        margin-left: 8.2%;
    }
    .menu_text > a {
        color: black;
        font-style: none;
        text-decoration: none;
        margin-left: 45px;
    }
    .button_wrap > button{
        position: relative;
        border: 1px solid black;
        border-radius: 20px;
        margin-left: 15px;
        font-size: 14px;
        background: none;
        left: 100%;
        top: 10%;
    }
    .section_blue_wrap{
        width: 100%;
        height: 700px;
        background-color: #7f99e2;
    }
    .ment_wrap{
        position: absolute;
        color: #ffff;
        margin-left: 20%;
        margin-top: 9%;
    }
    .main_ment{
        font-weight: 500;
        font-size: 36px;
    }
    .sub_ment{
        position: absolute;
        margin-top: 30px;
        font-size: 18px;
    }
    .available_os{
        position: absolute;
        margin-top: 12.5%;
        margin-left: 18%;
    }
    .notebook_wrap > img {
        position: absolute;
        left: 33%;
        top: -24%;
    }
}