html, body{
    font-family: 'Nanum Gothic', sans-serif;
    overflow-x: hidden;
} /*x축으로 넘어가는 현상fix*/
*{margin: 0;  padding: 0;}
.menu_container{
    font-family: 'Nanum Gothic', sans-serif;
    margin-top: 2%;
}
.menu_container > .menu_wrap > img{
    width: auto;
    height: 3.8vh;
    margin-left: 20%;
    margin-bottom: 1.5%;
}
.menu_wrap{
    display: flex;
    font-size: 18px;
}
.menu_text{
    margin-top: 0.5%;
    margin-left: 8.2%;
}
.menu_text > a {
    color: black;
    font-style: none;
    text-decoration: none;
    margin-left: 45px;
}
.button_wrap > button{
    position: relative;
    border: 1px solid black;
    border-radius: 20px;
    margin-left: 15px;
    font-size: 14px;
    background: none;
    left: 100%;
    top: 10%;
}
/* login_form_container */
.layer-popup {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}
.layer-popup.show {
    display: block;
}
.label{
    color: black;
    font-size: 13.5px;
}
.modal-dialog {
    width: 350px;
    margin: 50px auto;
    background-color: #fff;
}
.modal-content {
    padding: 10px 30px;
    text-align: center;
    line-height: 60px;
}
.logo_wrap > img{
    width: 10vw;
    height: 4vh;
}
.join, .find{
    color: black;
    margin-left: 10px;
}
#submit{
    width: 180px;
}
.selectboxes_wrap{
    margin-left: 8%;
    margin-top: 3%;
    display: flex;
}
.selectbox{
    width: 480px;
    height: 500px;
    background-color: #7f99e2;
    margin-left: 4%;
}
.selectbox > div{
    text-align: center;
}
.select_pd_img{
    margin-top: 4%;
}
.select_meterial > div {
    margin-top: 8%;
}
.select_header > div {
    font-size: 28px;
    font-weight: bold;
}
.select_pd_more > div {
    margin-top: 3%;
    font-size: 15px;
    font-weight: 500;
}